<html>
<center>
	<h1><font face= "Monospace">CURSOS PREMIUM</font></h1>
	<head>
	<meta charset="UTF-8"/>
	</head>
	<body style="background-color:#65919a;">
	 	<p style="border: ridge #000000 1px;">
			{{#CursoPrivados}}
			{{curso}} {{descripcion}}
			<a href="{{enlace}}"target="_blank"><button>Videos</button></a>
			<a href="{{apuntes}}"target="_blank"><button>Apuntes</button></a><br></br>
			{{/CursoPrivados}}
		</p>
		<br><br/>
		<a href="/home"><button>Volver</button></a>
		<br><br/>
	</body>
</html>