<html>
<center>
<h1>Computer Academy</h1>
<head>

	<meta charset="UTF-8"/>
</head>
<body style="background-color:#F5F5F5;">

	<form action="/Inicio" method="post">
		<p>Introduce tu email: </p>
		<input type='text' name='email'/>
		<input type='submit' value='Acceder'/>	
	</form>
		<br>
		<a href="/usuario/nuevo"><button>Regístrate</button></a>
		<br><br/>
		<a href="/foro"><button>Participa en nuestro foro</button></a>
		<br><br/>
		<a href="/publico"><button>Cursos Gratuitos</button></a>
		<br><br/>
		<br><br/>
		</center>
		<b>Foro: </b>
			<p style="border: ridge #000000 1px;">
			{{#foros}}
			{{nombre}} {{comentario}}<br></br>
			{{/foros}}
			</p>
		<br><br/>
</body>
</html>