<html>
<center>
<h1>RESERVA DE PLAZA</h1>
<head>
	<meta charset="UTF-8"/>
</head>
<body style="background-color:#F5F5F5;">
<form action="/reserva/guardada" method="post">
		<p>Nombre: </p>
		<input type='text' name='nombre'/>
		<p>Apellidos: </p>
		<input type='text' name='apellidos'/>
		<p>DNI: </p>
		<input type='text' name='DNI'/>
		<p>Direccion: </p>
		<input type='text' name='direccion'/>
		<p>Email:</p>
		<input type='text' name='email'/>
		<p>Telefono: </p>
		<input type='text' name='telefono'/>
		<br></br>
		<input type='submit' value='Reservar'/>
	</form>
	<form action="/privado" method="post">
		<input type='submit' value='Volver'/>
	</form>
</body>
</center>
</html>
